os: linux
language: nodejs
branches:
  only:
  - master
#before_install:
#  - openssl aes-256-cbc -K $encrypted_392ca6543982_key -iv $encrypted_392ca6543982_iv
#  - in deploy_rsa.enc -out deploy_rsa -d
addons:
  ssh_known_hosts: 18.162.125.153

before_deploy:
  - openssl aes-256-cbc -K $encrypted_392ca6543982_key -iv $encrypted_392ca6543982_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/ ubuntu@18.162.125.153:/var/www/ER-webapp
  on:
    branch: master