input[type="text"]{
    height: 2.5em;
    width: 100%;
}
td,th{
    border: 1px solid #000000!important;
}

table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    padding: auto;
    min-width: 1em;
    margin-right: 0.5em;
}