input[type="text"]{
    height: 2.5em;
    width: 100%;
}
td,th{
    border: 1px solid #000000!important;
    padding: 7px!important;
}
.smallNumber{
    padding: 5px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
label{
    color:black;
}