input[type="text"]{
    height: 1.75em;
    width: 100%;
}
table
{
    counter-reset: rowNumber;
}
table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    padding: auto;
    min-width: 1em;
    margin-right: 0.5em;
}
.btn-danger{
   margin-left: 8px;
}
.no-sort{
    width: 8%;
}
.page-link{
    cursor: pointer;
}