input[type="text"]{
    height: 1.75em;
    width: 100%;
}
table
{
    counter-reset: rowNumber;
}
table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    padding: auto;
    min-width: 1em;
    margin-right: 0.5em;
}
.btn-danger{
    margin-left: 8px;
}
.no-sort{
    width: 8%;
}
.no-sort-1{
    width: 13%;
}
.page-link{
    cursor: pointer;
}
.collapse-item{
    padding-left: 45px!important;
}
#select2-inputMon-container {
    line-height: 25px !important;
    margin-top: 3px!important;
}

.select2-selection__choice{
    height:auto!important;
    margin-top: 3px!important;
}
.select2-selection {
    height: 34px !important;
}
.gj-icon{
    top:5px!important;
}